<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.mapper.PlaceMapper">
  <resultMap id="BaseResultMap" type="com.young.pojo.Place">
    <!--@mbg.generated-->
    <!--@Table place-->
    <id column="place_id" jdbcType="INTEGER" property="placeId" />
    <result column="place_name" jdbcType="VARCHAR" property="placeName" />
    <result column="place_num" jdbcType="VARCHAR" property="placeNum" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    place_id, place_name, place_num, introduce, is_delete
  </sql>
</mapper>