<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.mapper.UnitMapper">
  <resultMap id="BaseResultMap" type="com.young.pojo.Unit">
    <!--@mbg.generated-->
    <!--@Table unit-->
    <id column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="unit_desc" jdbcType="VARCHAR" property="unitDesc" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    unit_id, unit_name, unit_desc
  </sql>
</mapper>